@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/work-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light;
}

body {
  width: 100%;
  font-family: 'Work Sans', system-ui, -apple-system;
  background-color: #F7F7FB;
  margin: auto;
  max-width: 600px;
  height: 100dvh;
  display: grid;
  place-items: center;
  color: #170F49;
  padding: 12px;

  div {
    padding: 30px;
    background-color: #FFF;
    border: 1px solid #EFF0F6;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    header {
      h1 {
        text-align: center;
        margin-bottom: 10px;
      }

      p {
        opacity: 0.8;
        text-align: center;
      }
    }

    main {
      width: 100%;
      padding-top: 32px;

      ul {
        display: flex;
        flex-direction: column;

        li {
          list-style: none;

          section {
            display: flex;
            width: 100%;

            aside {
              height: auto;
              width: 100px;
              position: relative;
              padding-right: 30px;
              flex: none;
              z-index: 0;

              .date {
                display: flex;
                gap: 8px;
                opacity: 0.5;
                font-size: 14px;
                justify-content: end;
                text-align: end;
              }

              .dot {
                box-shadow: none;
                height: 16px;
                width: 16px;
                border-radius: 9999px;
                background: #fff;
                border: 2.5px solid #ECEBFF;
                position: absolute;
                right: 0px;
                top: 0px;
                z-index: 1;
                padding: 0;
              }

              .separator {
                box-shadow: none;
                width: 2.5px;
                height: calc(100% - 14px);
                padding: 0;
                background-color: #ECEBFF;
                position: absolute;
                right: 6.2px;
                top: 15px;
                z-index: 0;
              }
            }

            p {
              margin-left: 10px;
              padding-bottom: 30px;
              font-weight: 500;
              font-size: 18px;
            }
          }
        }
      }
    }

    footer {
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0px;
        padding: 12px 14px;
        background-color: #4A3AFF;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #5a67d8;
        }
      }
    }
  }
}
