---
import Section from "@components/Section.astro";

import LineBanner from "@assets/line-banner.svg";
---

<Section class="relative h-full flex items-center p-0">
  <h2
    class="line-clamp-3 font-volkhov font-bold text-[50px] text-white text-balance"
  >
    Experimenta el maximo confort en nuestras habitaciones
  </h2>
  <LineBanner class="absolute bottom-20 left-1/2" />
</Section>
