---
import Section from "@components/Section.astro";

import LineBanner from "@assets/line-banner.svg";
---

<Section class="relative flex h-full items-center p-0">
  <h2
    class="font-volkhov line-clamp-3 text-balance text-[50px] font-bold text-white"
  >
    Experimenta el maximo confort en nuestras habitaciones
  </h2>
  <LineBanner class="absolute bottom-20 left-1/2" />
</Section>
