---
import Section from "@components/Section.astro";

import Brand from "@assets/footer-brand.svg";

const footerItems = [
  { name: "Contactos", href: "contact" },
  { name: "Redes Sociales", href: "social" },
  { name: "Habitaciones", href: "rooms" },
];
---

<Section
  class="py-16 grid grid-cols-1 md:grid-cols-3 gap-8 place-items-center place-content-between font-poppins"
>
  <section>
    <Brand class="" />
  </section>
  <section>
    <h3 class="font-bold text-xl mb-2">Reservas</h3>
    <ul>
      {
        footerItems.map(({ href, name }) => (
          <li class="py-0.5">
            <a class="text-base font-normal" href={href}>
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
  <section class="flex flex-col items-start">
    <h3 class="font-bold text-xl mb-2">Join Our Newsletter</h3>
    <div class="flex items-center">
      <label>
        <input
          type="email"
          class="border-0 bg-[#EEEEFF] rounded-l p-2 w-full"
          placeholder="Your email address"
        />
      </label>
      <button
        class="bg-[#DF6951] text-white font-medium py-2 px-4 rounded-r hover:opacity-90 transition-opacity duration-200"
      >
        Subscribe
      </button>
    </div>
    <p class="text-pretty mt-4">
      * Will send you weekly updates for your better tour packages.
    </p>
  </section>
</Section>
