---
import Navbar from "@components/Navbar.astro";
import Section from "@components/Section.astro";

import Brand from "@assets/brand.svg";
---

<header class="w-full">
  <Section class="font-poppins flex items-center justify-between">
    <Brand width={200} />
    <Navbar />
    <a
      href="#"
      class="rounded bg-[#DF6951] px-3 py-1.5 text-lg font-medium text-white transition-opacity duration-200 hover:opacity-90"
    >
      Reservar
    </a>
  </Section>
</header>
