---
import Section from "@components/Section.astro";

import Wave from "@assets/wave.svg";
---

<div class="w-full">
  <Section
    class="font-poppins flex flex-col items-start space-y-4 py-16 text-white"
  >
    <div class="relative">
      <Wave class="absolute inset-0 -left-2 -top-1" />
      <h2 class="text-6xl font-bold">Hospedaje</h2>
      <h1 class="text-8xl font-bold">Cocha</h1>
    </div>
    <p class="text-pretty text-3xl font-normal">
      Bienvenido a nuestro sitio web de hospedaje. Aquí encontrarás las mejores
      opciones para tu estadía.
    </p>
    <button class="mt-8 rounded border border-white p-2.5 text-lg font-medium"
      >Leer más --></button
    >
  </Section>
</div>
