---
import OurServiceCard from "@components/OurServiceCard.astro";
import Section from "@components/Section.astro";

import tourGuide from "@assets/img/tour-guide.png";
import travelling from "@assets/img/travelling.png";

const ourServices = [
  {
    icon: tourGuide,
    alt: "Guided Tours",
    title: "Guided Tours",
    description:
      "sunt qui repellat saepe quo velit aperiam id aliquam placeat.",
  },
  {
    icon: travelling,
    alt: "Para turistas",
    title: "Para turistas",
    description:
      "sunt qui repellat saepe quo velit aperiam id aliquam placeat.",
  },
  {
    icon: tourGuide,
    alt: "Confianza",
    title: "Confianza",
    description:
      "sunt qui repellat saepe quo velit aperiam id aliquam placeat.",
  },
  {
    icon: tourGuide,
    alt: "Experiencia",
    title: "Experiencia",
    description:
      "sunt qui repellat saepe quo velit aperiam id aliquam placeat.",
  },
];
---

<Section class="py-16">
  <h3 class="text-lg font-medium text-center text-[#DF6951]">¿Por qué?</h3>
  <h2 class="font-volkhov text-5xl text-center text-[#181E4B]">
    ¿Por Qué Nuestros Servicios?
  </h2>
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 pt-10">
    {
      ourServices.map(({ icon, alt, title, description }) => (
        <OurServiceCard
          icon={icon}
          alt={alt}
          title={title}
          description={description}
        />
      ))
    }
  </section>
</Section>
