---
import { Image } from "astro:assets";

import Section from "@components/Section.astro";

import welcomeIllustration from "@assets/welcome-illustration.png";
---

<Section class="flex items-center gap-4 font-poppins">
  <Image
    src={welcomeIllustration}
    height={500}
    alt="Bienvenido al hospedaje Cocha"
  />
  <article class="space-y-2 ml-32">
    <h3 class="text-lg font-medium text-[#DF6951]">Bienvenido a</h3>
    <h2 class="font-volkhov text-5xl text-[#181E4B]">Hospedaje Cocha</h2>
    <p class="text-base text-pretty my-4 mb-8">
      Et labore harum non nobis ipsum eum molestias mollitia et corporis
      praesentium a laudantium internos. Non quis eius quo eligendi corrupti et
      fugiat nulla qui soluta recusandae in maxime quasi aut ducimus illum aut
      optio quibusdam!Et labore harum non nobis ipsum eum molestias mollitia et
      corporis praesentium a laudantium internos. Non quis eius quo eligendi
      corrupti et fugiat nulla qui soluta recusandae in maxime quasi aut ducimus
      illum aut optio quibusdam!
    </p>
    <a
      href="#"
      class="font-medium text-lg py-1.5 px-3 bg-[#DF6951] rounded text-white hover:opacity-90 transition-opacity duration-200"
      >Leer más --></a
    >
  </article>
</Section>
