:root {
  --color-yellow: oklch(0.9774 0.1096 110.48);
  /* FBFFA7 */
  --color-orange: oklch(0.7218 0.1767 37.3);
  /* FF764D */
  --color-blue-light: oklch(0.8288 0.0848 269.74);
  /* B1C5FF */
  --color-purple: oklch(0.8227 0.1102 304.57);
  /* D5B3FF */
  --color-green: oklch(0.936 0.1115 148.18);
  /* B6FFC0 */
  --color-blue: oklch(0.452 0.313214 264.052);
  /* 0000FF */
  --color-white: oklch(1 0 0);
  /* FFFFFF */
  --color-black: oklch(0 0 0);
  /* 000000 */
  --color-bg: oklch(0.9642 0 0);
  /* F3F3F3 */
  --color-separator: oklch(0.9491 0 0);
  /* EEE */
}

* {
  font-family: var(--font-futura-pt);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-black);
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
}

body {
  position: relative;
}
