---
import AbletonWordmark from "@assets/ableton-wordmark.svg";

import ChevronRight from "@icons/chevron-right.svg";
---

<footer>
  <div class="footer-separator"></div>
  <section>
    <img src={AbletonWordmark.src} alt="" width="188" />
    <div>
      <article>
        <ul>
          <li><a href=""> Register Live, Push or Move<ChevronRight /> </a></li>
          <li><a href=""> About Ableton<ChevronRight /> </a></li>
          <li><a href="">Jobs <ChevronRight /> </a></li>
        </ul>
        <ul></ul>
      </article>
    </div>
  </section>
</footer>

<style>
  footer {
    .footer-separator {
      padding: 8.3rem;
      width: 100%;
      border-bottom: 2px solid var(--color-separator);
    }

    section {
      padding: 8.3rem;
    }
  }
</style>
