---
import Layout from "@layouts/Layout.astro";

import Banner from "@sections/Banner.astro";
import Footer from "@sections/Footer.astro";
import Header from "@sections/Header.astro";
import Hero from "@sections/Hero.astro";
import OurService from "@sections/OurService.astro";
import Rooms from "@sections/Rooms.astro";
import Welcome from "@sections/Welcome.astro";
---

<Layout>
  <div
    class="relative z-0 flex w-full flex-col items-start space-y-10 py-10 before:absolute before:inset-0 before:-z-10 before:w-full before:bg-[url(/src/assets/background.png)] before:bg-cover before:bg-center before:bg-no-repeat before:brightness-75 before:saturate-150 before:sepia-0"
  >
    <Header />
    <Hero />
  </div>
  <Welcome />
  <OurService />
  <div
    class="relative z-0 h-96 w-full py-10 before:absolute before:inset-0 before:-z-10 before:w-full before:bg-[url(/src/assets/img/banner.png)] before:bg-cover before:bg-center before:bg-no-repeat before:brightness-75 before:saturate-150 before:sepia-0"
  >
    <Banner />
  </div>
  <Rooms />
  <Footer />
</Layout>
