---
import posterMeetTheMakers from "@imgs/poster-meet-the-makers.jpg";
---

<section>
  <img
    src={posterMeetTheMakers.src}
    alt="Meet The Makers Poster"
    class="meet-the-makers-poster"
  />
</section>

<style>
  section {
    width: auto;
    margin-left: 8.33rem;
    margin-right: 8.33rem;
    margin-bottom: 8.3rem;
  }

  .meet-the-makers-poster {
    width: 100%;
    height: auto;
  }
</style>
