<section>
  <lite-youtube videoid="9SbnhgjeyXA" videotitle="Why Ableton - Juanpe Bolivar">
    <a
      class="lite-youtube-fallback"
      href="https://www.youtube.com/watch?v=9SbnhgjeyXA&t=5s"></a>
  </lite-youtube>
  <span>Why Ableton - Juanpe Bolivar</span>
</section>

<style>
  section {
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 8.3rem;

    span {
      padding: 0.625rem;
      margin: 0;
      font-size: 14px;
      font-weight: bold;
      display: block;
    }

    lite-youtube::part(playButton) {
      background-color: var(--color-blue);
      background-image: none;
      width: 100px;
      height: 100px;
      border-radius: 99999px;
      z-index: 0;
    }

    lite-youtube::part(playButton):before {
      width: 30px;
      height: 34px;
      top: 50%;
      left: 50%;
      background: none;
      background-color: var(--icon-color, #fff);
      -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path stroke='none' d='M0 0h24v24H0z' fill='none'/><path d='M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z'/></svg>")
        no-repeat center / contain;
      mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path stroke='none' d='M0 0h24v24H0z' fill='none'/><path d='M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z'/></svg>")
        no-repeat center / contain;
    }
  }
</style>

<script>
  import "@justinribeiro/lite-youtube";
</script>
