<section>
  <div>
    <slot />
  </div>
</section>

<style>
  section {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.3rem;

    div {
      margin: 0 auto;
    }
  }
</style>
