---
const navItems = [
  { name: "Inicio", href: "/" },
  { name: "Sobre Nosotros", href: "#about" },
  { name: "Contactanos", href: "#contact" },
  { name: "Blog", href: "#blog" },
];
---

<nav>
  <ul class="flex">
    {
      navItems.map(({ href, name }) => (
        <li>
          <a
            class="rounded px-3 py-1.5 align-middle text-lg font-medium text-white transition-colors duration-200 hover:bg-[#DF6951]"
            href={href}
          >
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
